@model newsSite90tv.Models.ViewModels.CreateproductViewModel
@using newsSite90tv.PublicClass
@{
    ViewData["Title"] = "افزودن محصول";

}
<link href="~/js/TagsInput/bootstrap-tagsinput.css" rel="stylesheet" />

<style>
    .imageselect > img {
        margin-right: 10px;
        border-radius: 5px;
    }

    .imageselect {
        width: 100%;
        overflow: scroll;
        margin-top: 8px;
        margin-bottom: 8px;
    }


    textarea {
        min-height: 300px;
        max-height: 300px;
    }


    .scroll {
        overflow: scroll;
        height: 250px;
    }
</style>


@if (ViewBag.message != null)
{
    <div class="alert alert-@ViewBag.type">
        <span class="close" data-dismiss="alert">&times;</span>
        @ViewBag.message
    </div>
}

<div class="row center-block box box-primary" style="box-shadow:2px 2px 7px 3px gray;height:auto">
    <div class="col-md-6 col-md-offset-1" style="margin-bottom:15px; margin-top:15px;">
        <form asp-area="AdminPanel" asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="text" class="hidden" id="imagename" name="imagename" />

            <input name="colors" type="hidden" id="colors" />
            <input name="sizes" type="hidden" id="sizes" />
            <input name="images" type="hidden" id="imgs" />
            <input name="propids" type="hidden" id="propid" />
            <input name="propvals" type="hidden" id="propvals" />
            <input name="colors" type="hidden" id="colors" />


            <div class="form-group">
                <label asp-for="product.title" class="control-label"></label>
                <input asp-for="product.title" class="form-control circleInput" placeholder="نام محصول را وارد نمایید" />
                <span asp-validation-for="product.title" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label class="control-label" asp-for="product.shop_id"></label>
                <select asp-for="product.shop_id" asp-items="@(new SelectList(Model.shops,"Id","title"))" class="form-control circleInput ostan-select"></select>
            </div>



            <div class="form-group">
                <label asp-for="product.summary" class="control-label"></label>
                <textarea asp-for="product.summary" class="form-control circleInput area" placeholder="شرح مختصر محصول را وارد نمایید"></textarea>
                <span asp-validation-for="product.summary" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="product.desc" class="control-label"></label>
                <textarea asp-for="product.desc" class="form-control circleInput area" placeholder="شرح کامل محصول را وارد نمایید"></textarea>
                <span asp-validation-for="product.desc" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="product.cat_id" class="control-label"></label>
                <select asp-for="product.cat_id" asp-items="@(new SelectList(Model.categories,"Id","Title"))" class="form-control circleInput"></select>
            </div>




            <div class="form-group">
                <label asp-for="product.brand_id" class="control-label"></label>
                <select asp-for="product.brand_id" asp-items="@(new SelectList(Model.brands,"Id","name"))" class="form-control circleInput"></select>
            </div>



            <div class="form-group">
                <label asp-for="product.price" class="control-label"></label>
                <input asp-for="product.price" class="form-control circleInput" min="0" placeholder="قیمت محصول را وارد نمایید" />
                <span asp-validation-for="product.price" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="product.offpercent" class="control-label"></label>
                <input asp-for="product.offpercent" class="form-control circleInput area" min="0" placeholder="تخفیف قیمت محصول را وارد نمایید"/>
                <span asp-validation-for="product.offpercent" class="text-danger"></span>
            </div>


            @*<div class="form-group">
            <label asp-for="product.keyword" class="control-label"></label>
            <input asp-for="product.keyword"  class="form-control circleInput">
            <span asp-validation-for="product.keyword" class="text-danger"></span>
        </div>*@


            <div class="form-group">
                <label asp-for="product.garanty" class="control-label"></label>
                <input asp-for="product.garanty" class="form-control circleInput">
                <span asp-validation-for="product.garanty" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="product.weight" class="control-label"></label>
                <input asp-for="product.weight" class="form-control circleInput" min="100" placeholder=" وزن محصول را به گرم وارد نمایید" />
                <span asp-validation-for="product.weight" class="text-danger"></span>
            </div>





            <div class="form-group">
                <label asp-for="product.qty" class="control-label"></label>
                <input asp-for="product.qty" class="form-control circleInput area" min="0" placeholder="تعداد محصول را وارد نمایید">
                <span asp-validation-for="product.qty" class="text-danger"></span>
            </div>





            @*<div class="form-group">
            <label asp-for="product.isexist" class="control-label"></label>
            <input asp-for="product.isexist" type="checkbox">
            <span asp-validation-for="product.isexist" class="text-danger"></span>
        </div>*@





            @if (Model != null && Model.colors.Count() != 0)
            {

                <div class="form-group scroll">
                    <label class="control-label">رنگ بندی محصول</label>
                    <ul class="list-group" id="color">
                        @foreach (var color in Model.colors)
                        {
                            <li class="list-group-item">
                                <input type="checkbox" value="@color.Id" />
                                <text>@color.name</text>
                                <button style="background-color:@color.code" type="button">&nbsp;</button>
                            </li>
                        }

                    </ul>
                </div>

            }



            <div class="form-group scroll" id="propertysection">
                <label class="control-label">خصوصیات محصول</label>
                <p><b class="text-success">توجه :</b> خصوصیاتی که چندین مقدار دارند با علامت    <b class="text-danger">( - )</b>   جدا کنید </p>
                <ul class="list-group props"></ul>
                @* load property ajax  *@
            </div>


            <div class="form-group scroll" id="sizesection">
                <label class="control-label">سایز بندی محصول</label>
                <ul class="list-group sizes"></ul>
                @* load size ajax  *@
            </div>



            <div class="form-group">
                <label asp-for="product.image" class="control-label"></label>
                <div class="form-horizontal">
                    <input asp-for="product.image" type="file" id="files" name="files" />
                    <input type="button" onclick="UploadImage()" id="btnupload" class="btn btn-info" value="آپلود و نمایش تصویر" />
                </div>
                <span asp-validation-for="product.image" class="text-danger"></span>
            </div>


            <hr />

            <div class="form-group">
                <div>
                    <h4 class="text-primary">
                        تصاویر محصول (گالری) را انتحاب کنید
                    </h4>
                    <div class="fileuplodList">

                        <input type="file" name="images" class="load" accept="image/*" onchange="readURL(this)" />

                    </div>

                    <div class="imageselect">

                    </div>

                    <div style="margin-top:20px">
                        <button type="button" id="Newfileupload" class="btn-sm btn-primary">+اضافه</button>
                        <button type="button" id="Delfileupload" class="btn-sm btn-danger">- حذف</button>
                    </div>

                </div>


            </div>

            <hr />


            <div class="form-group">
                <div>
                    <input type="submit" value="ایجاد" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-danger">بازگشت</a>
                </div>
            </div>

        </form>

    </div>


    <div class="col-md-4" style="margin-top:25px; margin-bottom:25px;">
        <div class="col-md-10 col-md-offset-1">
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-light-blue-active text-center">
                    <h3 class="widget-user-username">تصویر شاخص محصول</h3>
                </div>
            </div>


            <div class="form-group">
                <img id="imguser" class="img-bordered col-md-12 col-xs-12 col-sm-12"
                     src="~/upload/products/normalimage/nopicture.png" alt="تصویر شاخص محصول"
                     style="height:300px;" />
            </div>

            <div id="divmessage" class="text-center hidden" style="color:green;">

            </div>

        </div>
    </div>







</div>



@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-gallary", Size = ModalSize.Medium })
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-all", Size = ModalSize.Medium })

@section PanelScripts{
    <script src="~/js/modal-js/filemanager-index.js"></script>
    <script src="~/js/modal-js/all-support-index.js"></script>
    <script src="~/js/TagsInput/bootstrap-tagsinput.min.js"></script>

    <script type="text/javascript">


        $('#product_keyword').tagsinput();


        $('#Delfileupload').click(function ()
        {

            var files = document.getElementsByClassName("load");
            var imageuploaded = document.getElementsByClassName("uploadimages");

            if (files.length != 0) {
                files[files.length - 1].remove();

            }

            if (imageuploaded.length != 0) {
                imageuploaded[imageuploaded.length - 1].remove();
            }




        });

        $('#Newfileupload').click(function () {


            var el = document.createElement('input');

            el.setAttribute("type", "file");
            el.setAttribute("name", "images");
            el.setAttribute("accept", "image/*");
            el.setAttribute("class", "load");
            el.setAttribute("onchange", "readURL(this)");

            $('.fileuplodList').append(el);



        });



        //.......image load
        function readURL(input) {

            if (input.files && input.files[0]) {

                var reader = new FileReader()

                var img = document.createElement("img");


                reader.readAsDataURL(input.files[0]);

                reader.onload = function (e) {

                    img.setAttribute('src', e.target.result);
                    img.setAttribute("width", "100");
                    img.setAttribute("height", "100");
                    img.setAttribute("class", "uploadimages");

                    $(".imageselect").append(img);
                }

            }
        }




         var UploadImage = function () {
            var data = new FormData;
            var file = $("#files").get(0);
            var files = file.files;

            for (var i = 0; i < files.length; i++) {
                data.append('files', files[i]);
            }

            $.ajax({
                type: "post",
                url: '@Url.Action("UploadFile","Product", new { area = "AdminPanel"})',
                data: data,
                contentType: false,
                processData: false,
            }).done(function (result) {
                if (result.status == "success") {

                    $("#imguser").attr('src', "\\upload\\products\\normalimage\\" + result.imagename);

                    $("#divmessage").removeClass('hidden');
                    $("#divmessage").text("تصویر با موفقیت آپلود شد");

                    $("#imagename").val(result.imagename);
                    }
                }).fail(function (result) {
                    if (result.status != "success") {
                        $("#divmessage").removeClass('hidden');
                        $("#divmessage").text("در هنگام آپلود مشکلی رخ داد");

                    }
                });

        }




        // product property

        var propid = [];
        var propvalue = [];
       

        getproductproperty($('#product_cat_id').val ());
        getproductsize($('#product_cat_id').val());

        $('#product_cat_id').change(function()
        {

            propid = [];
            propvalue = [];
            sizes = [];

            var id = $(this).val();
            getproductproperty(id);
            getproductsize(id);

        });



        // get property size
        function getproductproperty(id) {
            $.ajax
            ({
                type: "Get",
                url: '@Url.Action("GetPropertyByCategory", "property", new { area = "AdminPanel"})',
                 data:{ catid : id } ,

                 success: (res) =>
                 {
                     if (res.length == 0) {

                         $('#propertysection').hide();
                         return;
                     }

                     var out = "";
                     for (var i = 0; i < res.length; i++)
                     {
                         out += "<li class='list-group-item'><b>" + res[i].name + "</b>" +
                             "<input type='text'  class='property-val form-control circle-input' prop-id=" + res[i].id+"  /></li>";


                     }



                     $('.props').html(out);

                     //.......
                     var inputs = $('.property-val')

                     for (var i = 0; i < inputs.length; i++)
                     {

                         var el = inputs[i];

                         el.onchange = function ()
                         {
                             propvalue.push($(this).val());
                             propid.push($(this).attr('prop-id'))


                             $('#propid').val(JSON.stringify(propid));
                             $('#propvals').val(JSON.stringify(propvalue));


                         }
                     }

                 }, error: (er) => {
                     console.log(er.message);
                 }

            });




        }



        var sizes = [];
        //....get size by category
         function getproductsize(id) {


            $.ajax
            ({
                type: "Get",
                url: '@Url.Action("GetSizeByCategory", "productsize", new { area = "AdminPanel"})',
                 data:{ catid : id } ,

                 success: (res) =>
                 {

                    

                     if (res.length == 0) {

                         $('#sizesection').hide();
                         return;
                     }

                     var out = "";
                     for (var i = 0; i < res.length; i++)
                     {

                         out += "<li class='list-group-item'>"+
                               "<input type='checkbox' class='size-val'  value=" +res[i].id +" /> &nbsp"
                             + "<lable class='control-lable'>" + res[i].name + "<lable>" +
                               "</li > ";

                     }


                     $('.sizes').html(out);

                     var inputs = $('.size-val');

                     for (var i = 0; i < inputs.length; i++) {

                         //get single checkbox
                         var el = inputs[i];


                          //get checkbox value
                      

                         // checkbox change evevnt
                         el.onchange = function ()

                         {
                             let id = $(this).val();
                             
                             if ($(this).is(":checked")) {

                                 
                                 sizes.push(id)

                               

                             } else
                             {

                                 let c = sizes.indexOf(id);

                                 sizes.splice(c, 1);
                                 
                             }


                             console.log(sizes);
                             $('#sizes').val(JSON.stringify(sizes));
                             
                         }
                     }
                     


                 }, error: (er) => {
                    alert( "خطا  : " + er.message);
                 }

            });




        }


       










        var colorid = [];

        $("ul#color  li input[type='checkbox']").change(function () {
            var id = $(this).val();

            if ($(this).is(":checked")) {
                colorid.push(id)
            } else {
                let c = colorid.indexOf(id);

                colorid.splice(c, 1);

            }

            $('#colors').val(JSON.stringify(colorid));


        });





    </script>
}

