@model newsSite90tv.Models.ViewModels.PropertiesValueCreateViewModel

@using newsSite90tv.Models.UnitOfWork


@using newsSite90tv.PublicClass

@{
    ViewData["Title"] = "مقدار خصوصیت ";

    int row = 1;
}

@inject IUnitOfWork _conx

<style>


    .circleInput {
        border-radius: 3px;
    }
</style>

@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["type"]">
        <span class="close" data-dismiss="alert">&times;</span>
        @TempData["message"]
    </div>
}



<div class="row center-block box box-success" style="box-shadow:2px 2px 7px 3px gray;">
    <div class="panel panel-primary col-md-10 col-md-offset-1" style="margin-top:25px; margin-bottom:25px;">


        <div>
            <h5>
                ثبت مقدار برای خصوصیت "@Model.properties.name"
            </h5>
        </div>

        <div class="panel-body">

            <form asp-controller="PropertiesValue" asp-action="Create" method="post">

                <input type="hidden" name="propertiesValue.properties_id" value="@Model.properties.Id" />


                <div class="form-group">
                    <label asp-for="propertiesValue.value" class="control-label"></label>

                    <input asp-for="propertiesValue.value" class="form-control circleInput" required />
                </div>


                <button class="btn btn-success" type="submit">
                    ایجاد
                </button>

            </form>



        </div>


        <hr style="height:1px; background-color:gray;" />

        <div class="box box-body table-responsive no-padding">

            <table class="table table-responsive text-center">
                <thead>
                    <tr style="font-size:15px; font-weight:600;">
                        <td>ردیف</td>
                        <td>@Html.DisplayNameFor(model => model.propertiesValue.value)</td>

                        <td>عملیات</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.propertiesValues)
                    {

                        <tr>
                            <td>
                                @(row++)
                            </td>
                            <td>@item.value</td>


                            <td>


                                <a class="btn btn-info" asp-controller="PropertiesValue" asp-action="Edit" asp-route-Id="@item.Id"
                                   data-toggle="modal" data-target="#modal-action-all">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    ویرایش
                                </a>

                                <a class="btn btn-danger" asp-controller="PropertiesValue" asp-action="Delete" asp-route-Id="@item.Id"
                                   data-toggle="modal" data-target="#modal-action-all">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    حذف
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>







@* Paging *@
@if (ViewBag.PageCount > 1)
{
    <div class="row text-center">
        <nav>
            <ul class="pagination">
                @if ((int)ViewBag.PageID > 1)
                {
                    @* Previous *@
                    <li>
                        <a asp-controller="PropertiesValue" asp-action="Index" asp-route-Page="@((int)ViewBag.PageID - 1)">
                            <span>&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= (ViewBag.PageCount); i++)
                {
                    <li class="@(((int)ViewBag.PageID==i)?" active":"")">
                        <a asp-controller="PropertiesValue" asp-action="Index" asp-route-page="@i">
                            @i
                            <span class="sr-only"></span>
                        </a>
                    </li>
                }
                @if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)
                {
                    @* Next *@
                    <li>
                        <a asp-controller="PropertiesValue" asp-action="Index" asp-route-Page="@((int)ViewBag.PageID + 1)">
                            <span>&raquo;</span>
                        </a>
                    </li>

                }
            </ul>
        </nav>
    </div>

}




@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-all", Size = ModalSize.Medium })
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-all", Size = ModalSize.Medium })

@section PanelScripts{


    <script src="~/js/modal-js/all-support-index.js"></script>


}


