@model IEnumerable<Property>

@using newsSite90tv.Models.UnitOfWork
@inject IUnitOfWork _conx

@using newsSite90tv.PublicClass

@{
    ViewData["Title"] = "خصوصیات محصول";

    int row = 1;

    //int partid = ;

    var partname = _conx.partRepositoryUW.GetById(ViewBag.PartId).key;
}



<style>


    .circleInput {
        border-radius: 3px;
    }
</style>

@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["type"]">
        <span class="close" data-dismiss="alert">&times;</span>
        @TempData["message"]
    </div>
}

<div class="row center-block box box-success" style="box-shadow:2px 2px 7px 3px gray;">
    <div class="panel panel-primary col-md-10 col-md-offset-1" style="margin-top:25px; margin-bottom:25px;">

        <div class="panel-body">
            <div>

                <a class="btn btn-primary" asp-controller="propertypart" asp-action="createprop" asp-route-id="@ViewBag.PartId"
                   data-target="#modal-all-support" data-toggle="modal">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    ایجاد خصوصیت برای  بخش "@partname"
                </a>

            </div>

        </div>


        <hr style="height:1px; background-color:gray;" />

        <div class="box box-body table-responsive no-padding">

            <table class="table table-responsive text-center">
                <thead>
                    <tr style="font-size:15px; font-weight:600;">
                        <td>ردیف</td>
                        <td>@Html.DisplayNameFor(model => model.name)</td>

                        <td>@Html.DisplayNameFor(model => model.cat_id)</td>
                        <td>عملیات</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @(row++)
                            </td>
                            <td>@item.name</td>

                            <td>@item.Tbl_Category.Title</td>




                            <td>


                                <a class="btn btn-info" asp-controller="propertypart" asp-action="EditProp" asp-route-Id="@item.Id"
                                   data-toggle="modal" data-target="#modal-all-support">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    ویرایش
                                </a>

                                <a class="btn btn-danger" asp-controller="propertypart" asp-action="DeleteProp" asp-route-Id="@item.Id"
                                   data-toggle="modal" data-target="#modal-all-support">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    حذف
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>







@* Paging *@
@if (ViewBag.PageCount > 1)
{
    <div class="row text-center">
        <nav>
            <ul class="pagination">
                @if ((int)ViewBag.PageID > 1)
                {
                    @* Previous *@
                    <li>
                        <a asp-controller="propertypart" asp-action="propertyofpart" asp-route-id="@ViewBag.PartId" asp-route-Page="@((int)ViewBag.PageID - 1)">
                            <span>&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= (ViewBag.PageCount); i++)
                {
                    <li class="@(((int)ViewBag.PageID==i)?" active":"")">
                        <a asp-controller="propertypart" asp-action="propertyofpart" asp-route-id="@ViewBag.PartId" asp-route-page="@i">
                            @i
                            <span class="sr-only"></span>
                        </a>
                    </li>
                }
                @if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)
                {
                    @* Next *@
                    <li>
                        <a asp-controller="propertypart" asp-action="propertyofpart" asp-route-id="@ViewBag.PartId" asp-route-Page="@((int)ViewBag.PageID + 1)">
                            <span>&raquo;</span>
                        </a>
                    </li>

                }
            </ul>
        </nav>
    </div>

}




@Html.Partial("_Modal", new BootstrapModel { ID = "modal-all-support", Size = ModalSize.Medium })

@section PanelScripts{


    <script src="~/js/modal-js/all-support-index.js"></script>



}


