@model ApplicationUsers

@{
    Layout = null;
}

<form asp-controller="User" asp-action="Delete" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">حذف کاربر سیستم</h4>
    </div>
        
    <div class="modal-body form-horizontal">


        <div class="text-center">
            @if (!string.IsNullOrEmpty(Model.UserImagePath))
            {
                <img src="~/upload/userimage/normalimage/@Model.UserImagePath" class="img-circle" alt="@Model.FirstName @Model.LastName" width="100px" height="100px" />
            }
            else
            {
                <img src="~/upload/userimage/normalimage/defaultuserImage.png" class="img-circle" alt="@Model.FirstName @Model.LastName" width="100px" height="100px" />
            }
        </div>


        آیا از حذف کاربر <strong>@Model.FirstName @Model.LastName</strong> مطمئن هستید؟


    </div>


    <div class="modal-footer" style="text-align:left;">
        <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>
        <button class="btn btn-danger" type="submit">
            حذف
        </button>
    </div>

</form>