@model IEnumerable<sellerBank>

@using newsSite90tv.Models.UnitOfWork


@using newsSite90tv.PublicClass

@{
    ViewData["Title"] = "اطلاعات بانکی فروشند گان";

    int row = 1;
}

@inject IUnitOfWork _conx

<style>
    #idximg {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .circleInput {
        border-radius: 3px;
    }
</style>


@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["type"]">
        <span class="close" data-dismiss="alert">
            &times;
        </span>
        @TempData["message"]

    </div>
}


<div class="row center-block box box-success" style="box-shadow:2px 2px 7px 3px gray;">
    <div class="panel panel-primary col-md-10 col-md-offset-1" style="margin-top:25px; margin-bottom:25px;">

        <div class="panel-body">
            <div>
                <a class="btn btn-primary" asp-controller="sellerBankinfo" asp-action="Create">
                    <i class="glyphicon glyphicon-plus"></i>
                    افزودن
                </a>


            </div>

        </div>






        <hr style="height:1px; background-color:gray;" />

        <div class="box box-body table-responsive no-padding">

            <table class="table table-responsive text-center">
                <thead>
                    <tr style="font-size:15px; font-weight:600;">
                        <td>ردیف</td>
                        <td>@Html.DisplayNameFor(model => model.seller_id)</td>
                        <td>@Html.DisplayNameFor(model => model.owner)</td>
                        <td>@Html.DisplayNameFor(model => model.bankname)</td>
                        <td>@Html.DisplayNameFor(model => model.BankNom)</td>
                        <td>@Html.DisplayNameFor(model => model.shabNom)</td>
                        <td>@Html.DisplayNameFor(model => model.dateShamsi)</td>
                        <td>@Html.DisplayNameFor(model => model.status)</td>

                        <td>عملیات</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() != 0)
                    {
                        @foreach (var item in Model)
                        {
                            var seller = _conx.userappRepositoryUW.GetById(item.Tbl_Salsman.appuser_id);
                    <tr>
                        <td>
                            @(row++)

                            @if (string.IsNullOrEmpty(item.user_id))
                            {

                                <span class="fa fa-android text-success" title=" توسط اپلیکیشن"></span>
                            }
                            else
                            {
                                <i class="glyphicon glyphicon-globe text-primary" title="توسط پنل"></i>
                            }
                        </td>

                        <td>
                            @seller.firstName @seller.lastName
                        </td>


                        <td>
                            @item.owner
                        </td>

                        <td>
                            @item.bankname
                        </td>
                        <td>
                            @item.BankNom
                        </td>
                        <td>
                            @item.shabNom
                        </td>


                        <td>
                            @item.dateShamsi
                        </td>


                        <td>
                            @item.status.checkStatus();
                        </td>


                        <td>


                            <a class="btn btn-sm btn-primary" asp-controller="sellerBankinfo" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="glyphicon glyphicon-pencil"></i>
                                ویرایش
                            </a>

                            <a class="btn btn-sm btn-danger" asp-controller="sellerBankinfo" asp-action="Delete" asp-route-id="@item.Id" data-toggle="modal" data-target="#modal-action-all">
                                <i class="glyphicon glyphicon-trash"></i>
                                حذف
                            </a>



                            @if (item.status == (byte)Status.suspend)
                            {
                                <a class="btn btn-sm btn-danger" asp-controller="Category" asp-action="Delete"
                                   asp-route-id="@item.Id" data-toggle="modal" data-target="#modal-action-category">
                                    <i class="glyphicon glyphicon-erase"></i>
                                    رد کردن
                                </a>

                                <a class="btn btn-sm btn-danger" asp-controller="Category" asp-action="Delete"
                                   asp-route-id="@item.Id" data-toggle="modal" data-target="#modal-action-category">
                                    <i class="glyphicon glyphicon-erase"></i>
                                    تایید
                                </a>

                            }


                        </td>
                    </tr>
                        }
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>







@* Paging *@
@if (ViewBag.PageCount > 1)
{
    <div class="row text-center">
        <nav>
            <ul class="pagination">
                @if ((int)ViewBag.PageID > 1)
                {
                    @* Previous *@
                    <li>
                        <a asp-controller="sellerBankinfo" asp-action="Index" asp-route-Page="@((int)ViewBag.PageID - 1)">
                            <span>&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= (ViewBag.PageCount); i++)
                {
                    <li class="@(((int)ViewBag.PageID==i)?" active":"")">
                        <a asp-controller="sellerBankinfo" asp-action="Index" asp-route-page="@i">
                            @i
                            <span class="sr-only"></span>
                        </a>
                    </li>
                }
                @if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)
                {
                    @* Next *@
                    <li>
                        <a asp-controller="sellerBankinfo" asp-action="Index" asp-route-Page="@((int)ViewBag.PageID + 1)">
                            <span>&raquo;</span>
                        </a>
                    </li>

                }
            </ul>
        </nav>
    </div>

}





@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-all", Size = ModalSize.Large })

@section PanelScripts{


    <script src="~/js/modal-js/all-support-index.js"></script>




}




