@model IEnumerable<payment>



@using newsSite90tv.PublicClass

@using newsSite90tv.Models.UnitOfWork

@inject IUnitOfWork _context

@{
    ViewData["Title"] = "تراکنش  ها ";

    int row = 1;
}


<style>
    #idximg {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .circleInput {
        border-radius: 3px;
    }
</style>


@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["type"]">
        <span class="close" data-dismiss="alert">
            &times;
        </span>

        @TempData["message"]

    </div>
}

<div class="row center-block box box-success" style="box-shadow:2px 2px 7px 3px gray;">
    <div class="panel panel-primary col-md-10 col-md-offset-1" style="margin-top:25px; margin-bottom:25px;">

        @*<div class="panel-body">
            <div>
                <h5>مرتب سازی بر اساس</h5>
                <select class="form-control" id="sort">

                    <option id="all" value="2">همه</option>
                    <option id="payed" value="0" class="text-primary">پرداخت شده</option>
                    <option id="paytwait" value="1" class="text-warning">در انتظار پرداخت</option>

                </select>
            </div>

        </div>*@

        <hr style="height:1px; background-color:gray;" />

        @if (Model != null && Model.Count() != 0)
        {


            <div class="box box-body table-responsive no-padding">

                <table class="table table-responsive text-center">
                    <thead>
                        <tr style="font-size:15px; font-weight:600;">
                            <td>ردیف</td>
                            <td>@Html.DisplayNameFor(m => m.appuser_id)</td>
                            <td>@Html.DisplayNameFor(m => m.amount)</td>
                            <td>@Html.DisplayNameFor(m => m.dateshamsi)</td>
                            <td>عملیات</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() != 0)
                        {
                            @foreach (var item in Model)
                            {

                        <tr>
                            <td>
                                @(row++)
                            </td>

                            <td>
                                @item.Tbl_UserApp.firstName @item.Tbl_UserApp.lastName
                            </td>


                            <td>
                                @item.amount.RialToToman().ToPrice() تومان
                            </td>


                            <td>
                                @item.dateshamsi
                            </td>

                          

                            <td>


                                <a class="btn btn-info" asp-controller="trans" asp-action="Details" asp-route-Id="@item.Id" data-toggle="modal" data-target="#modal-action-detail">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    جزییات
                                </a>


                                <a class="btn btn-danger" asp-controller="trans" asp-action="Delete" asp-route-Id="@item.Id" data-toggle="modal" data-target="#modal-action-delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    حذف
                                </a>


                            </td>
                        </tr>
                            }
                        }

                    </tbody>
                </table>



            </div>
        }
        else
        {
            <div class="alert alert-info">
                در حال حاضر تراکنشی وجود ندارد
            </div>
        }
    </div>
</div>





@* Paging *@
@if (ViewBag.PageCount > 1)
{
    <div class="row text-center">
        <nav>
            <ul class="pagination">
                @if ((int)ViewBag.PageID > 1)
                {
                    @* Previous *@
                    <li>
                        <a asp-controller="trans" asp-action="Index" asp-route-Page="@((int)ViewBag.PageID - 1)" asp-route-q="@ViewBag.q">
                            <span>&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= (ViewBag.PageCount); i++)
                {
                    <li class="@(((int)ViewBag.PageID==i)?" active":"")">
                        <a asp-controller="trans" asp-action="Index" asp-route-page="@i" asp-route-q="@ViewBag.q">
                            @i
                            <span class="sr-only"></span>
                        </a>
                    </li>
                }
                @if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)
                {
                    @* Next *@
                    <li>
                        <a asp-controller="trans" asp-action="Index" asp-route-Page="@((int)ViewBag.PageID + 1)" asp-route-q="@ViewBag.q">
                            <span>&raquo;</span>
                        </a>
                    </li>

                }
            </ul>
        </nav>
    </div>

}



@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-delete", Size = ModalSize.Large })
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-detail", Size = ModalSize.Large })


@section PanelScripts
    {
    <script>

       

    </script>
}

