@model IEnumerable<ErrorReportShop>
@using newsSite90tv.PublicClass

@{
    ViewData["Title"] = "گزارش تخلف فروشگاه ها";

    int row = 1;
}

<style>
    #idximg {
        height: 100%;
        width: 100%;
    }
</style>

<div class="row center-block box box-success" style="box-shadow:2px 2px 7px 3px gray;">
    <div class="panel panel-primary col-md-10 col-md-offset-1" style="margin-top:25px; margin-bottom:25px;">

        <div class="panel-body">
            <a class="btn btn-primary" asp-controller="ReportReason" >
                <i class="glyphicon glyphicon-eject"></i>
                دلایل تخلف
            </a>
        </div>

        <hr style="height:1px; background-color:gray;" />

        <div class="box box-body table-responsive no-padding">

            <table class="table table-responsive text-center">
                <thead>
                    <tr style="font-size:15px; font-weight:600;">
                        <td>ردیف</td>
                        <td>@Html.DisplayNameFor(model => model.appuser_id)</td>
                        <td>@Html.DisplayNameFor(model => model.reason_id)</td>
                        <td>@Html.DisplayNameFor(model => model.dateShamsi)</td>
                        <td>@Html.DisplayNameFor(model => model.status)</td>
                        <td>عملیات</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>
                        <td>
                            @(row++)

                        </td>

                        <td>
                            @item.Tbl_UserApp.firstName @item.Tbl_UserApp.lastName
                        </td>


                        <td>
                            @item.Tbl_Reason.title
                        </td>


                        <td>
                            @item.dateShamsi.
                        </td>


                        <td>
                            @if (item.status == 0)
                            {
                                <p>بررسی نشده</p>
                            }
                            else if (item.status == 1)
                            {
                                <p>بررسی شده</p>
                            }
                        </td>

                        <td>

                            <a class="btn btn-primary" asp-controller="ReportShop" asp-action="Details" asp-route-id="@item.Id" data-target="#modal-action-all" data-toggle="modal">
                                <i class="glyphicon glyphicon-pencil"></i>
                                جزییات
                            </a>

                            <a class="btn btn-warning" asp-controller="ReportShop" asp-action="Details" asp-route-id="@item.Id" data-target="#modal-action-all" data-toggle="modal">
                                <i class="glyphicon glyphicon-pencil"></i>
                                اطلاع به فروشنده فروشگاه
                            </a>


                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>




@* Paging *@
@if (ViewBag.PageCount > 1)
{
    <div class="row text-center">
        <nav>
            <ul class="pagination">
                @if ((int)ViewBag.PageID > 1)
                {
                    @* Previous *@
                    <li>
                        <a asp-controller="ReportShop" asp-action="Index" asp-route-Page="@((int)ViewBag.PageID - 1)">
                            <span>&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= (ViewBag.PageCount); i++)
                {
                    <li class="@(((int)ViewBag.PageID==i)?" active":"")">
                        <a asp-controller="ReportShop" asp-action="Index" asp-route-page="@i">
                            @i
                            <span class="sr-only"></span>
                        </a>
                    </li>
                }
                @if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)
                {
                    @* Next *@
                    <li>
                        <a asp-controller="ReportShop" asp-action="Index" asp-route-Page="@((int)ViewBag.PageID + 1)">
                            <span>&raquo;</span>
                        </a>
                    </li>

                }
            </ul>
        </nav>
    </div>

}


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-all", Size = ModalSize.Large })


