@model Sell


@using newsSite90tv.PublicClass

@using newsSite90tv.Models.UnitOfWork


@inject IUnitOfWork _context

@{
    Layout = null;

   var buy = _context.buyRepositoryUW.Get(a => a.Id == Model.buy_id, null, "Tbl_UserApp,Tbl_UserAddress").FirstOrDefault();
   var userseller = _context.userappRepositoryUW.GetById(Model.Tbl_Salsman.appuser_id);

}


<style>
    .img-circle {
        width: 100px;
        height: 100px;
        border: 1px solid red;
    }

    table {
        margin-top: 20px;
    }



    h5 {
    }



    .center {
        text-align: center;
    }

    .images {
        overflow: scroll;
        height: 300px;
        width: 600px;
        margin: auto;
    }

    .img-banner {
        width: 200px;
        height: 200px;
    }

    .center > img {
        display: inline-block;
    }

        .center > img :hover {
            transform: scale(2,2)
        }

    .text-center > div{
        display:inline-block;
        margin-right:20px;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">جزییات فروش</h4>
</div>

<div class="modal-body form-horizontal">

    <div class="text-center">

        <div >

            <img src="~/upload/products/thumbnailimage/@Model.Tbl_Product.image" class="img-thumbnail" alt=" @Model.Tbl_Product.title" />

            <p>  <label asp-for="product_id"></label>  @Model.Tbl_Product.title</p>
        </div>



        <div >

            <img src="~/upload/shop/thumbnailimage/@Model.Tbl_Shop.image" class="img-thumbnail" alt="@Model.Tbl_Shop.title" />

            <p> <label asp-for="shop_id"></label>    @Model.Tbl_Shop.title</p>
        </div>



        <div >

            <img src="~/upload/userAppimage/thumbnailimage/@userseller.image" class="img-circle" alt="@userseller.firstName @userseller.lastName" />

            <p> <label asp-for="seller_id"></label>    @userseller.firstName @userseller.lastName</p>
        </div>


        <br />
        <hr />


    </div>


        <p>
            @if (buy.color_id != 0)
            {
                /**/
                <label asp-for="@buy.color_id"></label>

                var colorcode = _context.colorRepositoryUW.GetById(buy.color_id).code;
                <button style="background-color:@colorcode">&nbsp; </button>

            }
            else
            {
                <text>-</text>
            }

        </p>


        <p>
            <label asp-for="qty"></label>
            @Model.qty  عدد
        </p>


        <p>
            <label asp-for="price"></label>
            @Model.price.RialToToman().ToPrice() تومان
        </p>


        <p>
            <label asp-for="totalsellprice"></label>
            @Model.totalsellprice.RialToToman().ToPrice() تومان
        </p>


        <p>
            <label asp-for="totalprice"></label>
            @Model.totalprice.RialToToman().ToPrice() تومان
        </p>



        <p>
            <label asp-for="createdatesh"></label>
            @Model.createdatesh
        </p>



        <p>
            <label asp-for="sellstatus"></label>
            @Model.sellstatus.checksellStatus()
        </p>




    <div class="modal-footer" style="text-align:left;">
        <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>
    </div>



</div>